.diversityChartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  vertical-align: middle;
}

.diversityChartCanvas {
  display: block;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  width: 80px !important;
  height: 80px !important;
}

.diversityChartCanvasTable {
  display: block;
  width: 80px !important;
  height: 80px !important;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.diversityChartContainerTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 320px;
  width: 100%;
  gap: 0.5rem;
}

.diversityChartTableCell {
  min-width: 320px;
  width: 320px;
  max-width: 400px;
  text-align: left;
  vertical-align: middle;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
} 